{% extends "my_django_project/base.html"%}
{% block title %} users {% endblock %}

{% block content %}
<h1>Users List</h1>
<table border ='1'>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Email</th>
        <th>Role</th>
    </tr>
    {% for user in users %}
    <tr>
        <td>{{user.id}}</td>
        <td>{{user.name}}</td>
        <td>{{user.email}}</td>
        <td>{{user.role}}</td>
        <td><a href="{% url 'my_django_project:user_detail' user.id %}">View</a></td>
    </tr>
    {% endfor%}
</table>
<a href="{% url 'my_django_project:new_user' %}">Add New User</a>
{% endblock %}